# COGS 108 - Data Checkpoint

# Names

- Jungsoo Lee
- Lu Zhang
- Mengyuan Zhang

<a id='research_question'></a>
# Research Question

Is there a relationship between the drinking age population, alcohol store density, number of dui providers and the amount of alcohol-related car accidents happened in California?

# Setup

In [1]:
## YOUR CODE HERE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

# Data Cleaning

In [2]:
population_df = pd.read_csv('data/acs2019_5yr_B01001_05000US06049.csv')

population_df.drop(index=1,columns=['Sex by Age','Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace=True)
age_column = population_df['B01001']
population_df.dropna(axis=1, inplace=True)
population_df = pd.concat([age_column, population_df], axis=1)
population_df.columns = population_df.iloc[0]
population_df.drop(0, inplace=True)

population_df.reset_index(drop=True)

,NaN,"Alameda County, CA","Alpine County, CA","Amador County, CA","Butte County, CA","Calaveras County, CA","Colusa County, CA","Contra Costa County, CA","Del Norte County, CA","El Dorado County, CA",...,"Sonoma County, CA","Stanislaus County, CA","Sutter County, CA","Tehama County, CA","Trinity County, CA","Tulare County, CA","Tuolumne County, CA","Ventura County, CA","Yolo County, CA","Yuba County, CA"
0,Total:,1656754,1039,38429,225817,45514,21454,1142251,27495,188563,...,499772,543194,96109,63912,12700,461898,54045,847263,217352,76360
1,Male:,814515,554,20640,111735,22663,10994,558502,14745,93922,...,244045,268871,47866,31773,6535,230966,28112,419111,105438,38950
2,Under 5 years,49611,22,796,6395,920,742,33495,884,4431,...,12771,19998,3372,1938,334,19369,1219,25795,6163,3097
3,5 to 9 years,49375,21,730,6941,1253,919,36175,787,5264,...,14417,19923,3668,2209,278,21062,1451,26436,6495,3123
4,10 to 14 years,48777,53,849,5985,977,817,39793,978,5988,...,14430,22568,3725,2351,305,20810,1146,29918,6586,3139
5,15 to 17 years,28149,9,570,4080,825,521,23934,409,3773,...,8967,12746,2185,1241,239,11971,749,17629,4059,1692
6,18 and 19 years,19354,13,448,3864,461,263,13715,225,2089,...,6064,7503,1234,669,165,7066,598,11334,5914,948
7,20 years,10221,0,247,2876,152,177,6830,191,1220,...,3275,4239,419,604,73,3721,342,6440,4062,589
8,21 years,10048,7,183,2938,272,275,6453,86,1101,...,2753,4071,774,402,40,3489,219,5858,2976,452
9,22 to 24 years,30365,21,452,6791,707,293,21039,521,2707,...,8546,10838,2008,867,145,9836,1018,17438,7325,2019
10,25 to 29 years,68560,8,1237,8352,1032,814,36317,1295,5039,...,16942,20519,3560,2093,289,17242,1959,30386,8342,3328
11,30 to 34 years,69852,30,1190,6798,1016,750,36630,1233,4917,...,16411,19380,3221,1921,248,16005,1891,28134,6890,2959
12,35 to 39 years,63787,44,1444,6140,921,647,36957,1216,5612,...,15797,17131,3001,1814,276,15387,1641,26792,7249,2537
13,40 to 44 years,59958,19,1286,6366,1249,649,37785,1044,4704,...,15314,17228,2846,1810,326,13853,1698,25594,5415,2223
14,45 to 49 years,56727,9,1549,5804,1313,632,39616,796,6145,...,15651,16262,2757,1722,393,13106,1542,27615,5718,1974
15,50 to 54 years,54080,34,1491,6195,1477,640,40095,924,6738,...,16411,16142,2927,2029,473,12538,1638,28726,5805,2179
16,55 to 59 years,51870,29,1475,7151,1956,783,39085,978,7875,...,16593,16561,2715,2348,434,11568,2027,29615,5953,2130
17,60 and 61 years,19475,26,715,2692,749,230,14081,442,3095,...,7314,5362,1295,726,278,4833,782,10646,1939,939
18,62 to 64 years,26247,39,1081,4080,1248,341,19161,494,4675,...,10451,7660,1657,1241,472,5766,1534,13604,2857,1185
19,65 and 66 years,15412,41,769,2751,670,262,11153,414,3011,...,6874,5058,1095,747,299,3873,864,9124,1777,754
20,67 to 69 years,20220,11,888,3663,1237,312,15750,378,3914,...,8828,5920,1177,1028,344,4518,1506,10665,2320,909
21,70 to 74 years,25079,69,1414,4843,1790,365,20423,644,4907,...,11140,7899,1477,1666,434,6002,1729,14917,3044,1211
22,75 to 79 years,16781,41,856,3253,1052,291,13489,271,3005,...,6909,5873,1020,1089,363,4183,1041,9890,1756,712
23,80 to 84 years,10771,0,423,1936,799,136,8368,211,2332,...,4247,3158,961,649,186,2425,782,6256,1501,434
24,85 years and over,9796,8,547,1841,587,135,8158,324,1380,...,3940,2832,772,609,141,2343,736,6299,1292,417
25,Female:,842239,485,17789,114082,22851,10460,583749,12750,94641,...,255727,274323,48243,32139,6165,230932,25933,428152,111914,37410
26,Under 5 years,47238,22,731,5989,982,834,31954,648,4239,...,12366,19378,3185,1901,252,18422,1215,24730,6149,2896
27,5 to 9 years,45905,29,683,6780,1115,726,36275,702,4929,...,13313,20684,3470,1780,375,20214,1174,25684,6003,3189
28,10 to 14 years,47993,20,994,5662,1064,826,36721,982,5795,...,14297,20341,3442,2477,210,19793,1252,29383,6740,2473
29,15 to 17 years,26979,25,494,3607,675,457,22856,530,3503,...,8629,11985,2012,1361,173,11517,781,17212,3831,1469
30,18 and 19 years,19583,12,364,4107,341,337,12806,419,1907,...,6183,7099,1102,532,108,6749,424,10851,7205,834
31,20 years,9360,10,101,2352,247,131,5396,81,685,...,2811,3750,520,284,18,3377,143,6194,4488,349
32,21 years,10717,0,118,3087,219,164,6461,81,719,...,2997,3622,590,403,85,3392,311,4896,4500,474
33,22 to 24 years,30417,5,374,6854,456,295,21170,327,3185,...,8639,10823,1777,1043,53,9759,699,17319,7270,1584
34,25 to 29 years,67880,13,837,7440,1029,647,35273,706,4322,...,15614,20108,3427,1965,206,16431,1384,28142,7681,3087
35,30 to 34 years,69727,15,853,6409,1027,677,37055,751,4792,...,15596,18597,3231,1744,281,15815,1320,26253,6701,2819
36,35 to 39 years,65087,42,897,6566,990,699,38243,823,5684,...,16064,17750,3067,1597,483,15134,1368,25897,6565,2668
37,40 to 44 years,59398,43,667,5331,1176,564,40142,635,5100,...,14887,16529,2846,1914,325,13361,1114,26758,6374,1994
38,45 to 49 years,57136,4,926,5888,1202,611,41265,726,6215,...,15592,16552,2788,1809,312,12894,1399,28300,5922,2083
39,50 to 54 years,55083,9,1236,6498,1581,646,41923,804,7084,...,17403,16727,2965,2129,418,12615,1551,29397,6014,2072
40,55 to 59 years,54961,44,1619,7314,2192,683,41148,1209,8619,...,18923,17086,2840,2129,615,12133,2085,29853,5982,2201
41,60 and 61 years,20842,7,561,2928,1031,301,15611,358,3096,...,7891,6596,1270,949,215,4635,839,10881,2305,988
42,62 to 64 years,27966,44,985,4872,1140,281,20909,483,4746,...,11547,7757,1795,1603,393,6504,1705,15925,3478,1292
43,65 and 66 years,17183,29,843,2910,852,303,12774,374,3065,...,7000,4757,949,983,236,4203,889,9857,2039,752
44,67 to 69 years,23858,16,1076,4247,1287,308,18974,453,4180,...,11329,7171,1316,1318,316,4688,1127,12396,2478,1265
45,70 to 74 years,30227,64,1328,5298,1711,320,24158,607,4766,...,12877,10051,1952,1311,438,7072,2049,16819,3746,995
46,75 to 79 years,20301,13,623,3875,1101,291,16052,383,3563,...,8792,6575,1427,1329,373,4759,1326,11760,2319,823
47,80 to 84 years,15396,4,747,2773,642,163,12452,383,1812,...,5701,4990,1107,682,146,3406,884,8747,1806,580
48,85 years and over,19002,15,732,3295,791,196,14131,285,2635,...,7276,5395,1165,896,134,4059,894,10898,2318,523

In [3]:
new_index = []
county_names = list(population_df.columns)[1:]
for index in county_names:
        split_county = index.split(" County") 
        index = split_county[0]
        new_index.append(index)
new_index

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']

In [4]:
male = population_df.iloc[8:19] 
female = population_df.iloc[32:43]
drinking_age_population = pd.concat([male, female]).reset_index(drop=True)
drinking_age_population.drop(population_df.columns[0], axis=1, inplace=True)
drinking_age_population = drinking_age_population.astype('int64')
drinking_age_population = drinking_age_population.sum(axis=0)

drinking_age_population = pd.DataFrame(drinking_age_population)
drinking_age_population.index = new_index

drinking_age_population.rename(columns={0:'drinking_age_population'}, inplace=True)
drinking_age_population

                 drinking_age_population
Alameda                          1030183
Alpine                               492
Amador                             21176
Butte                             126494
Calaveras                          23983
Colusa                             11622
Contra Costa                      666419
Del Norte                          15932
El Dorado                         106170
Fresno                            543419
Glenn                              14894
Humboldt                           79026
Imperial                           98311
Inyo                                9754
Kern                              497053
Kings                              88168
Lake                               34633
Lassen                             20658
Los Angeles                      6123565
Madera                             84603
Marin                             143838
Mariposa                            9508
Mendocino                          47143
Merced                            145828
Modoc                               4587
Mono                                8600
Monterey                          242256
Napa                               79119
Nevada                             53266
Orange                           1883716
Placer                            212824
Plumas                              9904
Riverside                        1351043
Sacramento                        898668
San Benito                         34541
San Bernardino                   1241152
San Diego                        1997005
San Francisco                     602257
San Joaquin                       415175
San Luis Obispo                   155705
San Mateo                         465213
Santa Barbara                     245525
Santa Clara                      1178796
Santa Cruz                        156310
Shasta                             98753
Sierra                              1619
Siskiyou                           22357
Solano                            260536
Sonoma                            287336
Stanislaus                        303301
Sutter                             53357
Tehama                             34258
Trinity                             6760
Tulare                            246296
Tuolumne                           29724
Ventura                           488029
Yolo                              123261
Yuba                               43187

In [5]:
total_population = population_df.drop(population_df.columns[0], axis=1, inplace=True)
total_population = population_df.iloc[0, :]

total_population = pd.DataFrame(total_population)
total_population.index = new_index

total_population.rename(columns={2:'total_population'},inplace=True)
total_population

                total_population
Alameda                  1656754
Alpine                      1039
Amador                     38429
Butte                     225817
Calaveras                  45514
Colusa                     21454
Contra Costa             1142251
Del Norte                  27495
El Dorado                 188563
Fresno                    984521
Glenn                      27976
Humboldt                  135940
Imperial                  180701
Inyo                       17977
Kern                      887641
Kings                     150691
Lake                       64195
Lassen                     30818
Los Angeles             10081570
Madera                    155433
Marin                     259943
Mariposa                   17420
Mendocino                  87224
Merced                    271382
Modoc                       8907
Mono                       14310
Monterey                  433410
Napa                      139623
Nevada                     99244
Orange                   3168044
Placer                    385512
Plumas                     18660
Riverside                2411439
Sacramento               1524553
San Benito                 60376
San Bernardino           2149031
San Diego                3316073
San Francisco             874961
San Joaquin               742603
San Luis Obispo           282165
San Mateo                 767423
Santa Barbara             444829
Santa Clara              1927470
Santa Cruz                273962
Shasta                    179212
Sierra                      3040
Siskiyou                   43468
Solano                    441829
Sonoma                    499772
Stanislaus                543194
Sutter                     96109
Tehama                     63912
Trinity                    12700
Tulare                    461898
Tuolumne                   54045
Ventura                   847263
Yolo                      217352
Yuba                       76360

In [6]:
drinking_age_proportion = pd.concat([drinking_age_population, total_population], axis=1)
drinking_age_proportion['drinking_age_population'] = drinking_age_proportion['drinking_age_population'].astype('int64')
drinking_age_proportion['total_population'] = drinking_age_proportion['total_population'].astype('int64')

drinking_age_proportion['drinking_age_proportion'] = drinking_age_proportion['drinking_age_population'] / drinking_age_proportion['total_population']

drinking_age_proportion = drinking_age_proportion['drinking_age_proportion']
drinking_age_proportion = pd.DataFrame(drinking_age_proportion)
drinking_age_proportion

                 drinking_age_proportion
Alameda                         0.621808
Alpine                          0.473532
Amador                          0.551042
Butte                           0.560162
Calaveras                       0.526937
Colusa                          0.541717
Contra Costa                    0.583426
Del Norte                       0.579451
El Dorado                       0.563048
Fresno                          0.551963
Glenn                           0.532385
Humboldt                        0.581330
Imperial                        0.544053
Inyo                            0.542582
Kern                            0.559971
Kings                           0.585091
Lake                            0.539497
Lassen                          0.670323
Los Angeles                     0.607402
Madera                          0.544305
Marin                           0.553344
Mariposa                        0.545809
Mendocino                       0.540482
Merced                          0.537353
Modoc                           0.514988
Mono                            0.600978
Monterey                        0.558953
Napa                            0.566662
Nevada                          0.536718
Orange                          0.594599
Placer                          0.552055
Plumas                          0.530761
Riverside                       0.560264
Sacramento                      0.589463
San Benito                      0.572098
San Bernardino                  0.577540
San Diego                       0.602220
San Francisco                   0.688324
San Joaquin                     0.559081
San Luis Obispo                 0.551823
San Mateo                       0.606202
Santa Barbara                   0.551954
Santa Clara                     0.611577
Santa Cruz                      0.570554
Shasta                          0.551040
Sierra                          0.532566
Siskiyou                        0.514332
Solano                          0.589676
Sonoma                          0.574934
Stanislaus                      0.558366
Sutter                          0.555172
Tehama                          0.536018
Trinity                         0.532283
Tulare                          0.533226
Tuolumne                        0.549986
Ventura                         0.576007
Yolo                            0.567103
Yuba                            0.565571

In [7]:
alcohol_store_density = pd.read_csv('data/num_shops-pop-density by county.csv')
alcohol_store_density.set_index('Country', inplace=True)
alcohol_store_density = alcohol_store_density.iloc[:, -1:]

alcohol_store_density.index = new_index
alcohol_store_density

                   Density
Alameda           2.163548
Alpine           25.686448
Amador            4.276514
Butte             2.741963
Calaveras         4.073630
Colusa            4.037685
Contra Costa      1.415659
Del Norte         3.343880
El Dorado         3.292834
Fresno            2.002801
Glenn             2.852816
Humboldt          3.740096
Imperial          1.898298
Inyo              6.153334
Kern              2.136187
Kings             1.660782
Lake              3.339235
Lassen            2.322311
Los Angeles       1.870784
Madera            2.040336
Marin             3.484967
Mariposa          4.592222
Mendocino         5.164325
Merced            1.743014
Modoc             5.316141
Mono             12.461922
Monterey          3.151631
Napa              8.660994
Nevada            3.598817
Orange            2.114185
Placer            2.794173
Plumas            8.401127
Riverside         1.665624
Sacramento        1.970287
San Benito        2.292702
San Bernardino    1.623331
San Diego         2.216078
San Francisco     4.801775
San Joaquin       2.020605
San Luis Obispo   4.351650
San Mateo         2.520308
Santa Barbara     3.357230
Santa Clara       2.022458
Santa Cruz        2.950079
Shasta            2.993114
Sierra           10.316140
Siskiyou          4.662487
Solano            1.845220
Sonoma            3.991212
Stanislaus        2.131987
Sutter            2.258407
Tehama            2.519821
Trinity           6.756207
Tulare            2.005599
Tuolumne          3.836411
Ventura           2.107550
Yolo              2.394558
Yuba              2.122845

In [8]:
dui_providers_by_county = pd.read_csv('data/dui_providers_by_county.csv')
dui_providers_by_county.set_index('County', inplace=True)

dui_providers_by_county.index = new_index

dui_providers_by_county

                 # DUI providers
Alameda                        2
Alpine                         0
Amador                         1
Butte                          6
Calaveras                      1
Colusa                         1
Contra Costa                   5
Del Norte                      1
El Dorado                      2
Fresno                        10
Glenn                          0
Humboldt                       3
Imperial                       2
Inyo                           1
Kern                           9
Kings                          2
Lake                           2
Lassen                         1
Los Angeles                   55
Madera                         2
Marin                          1
Mariposa                       1
Mendocino                      5
Merced                         2
Modoc                          1
Mono                           1
Monterey                       5
Napa                           0
Nevada                         2
Orange                        17
Placer                         6
Plumas                         1
Riverside                     13
Sacramento                     7
San Benito                     1
San Bernardino                14
San Diego                      4
San Francisco                  2
San Joaquin                    8
San Luis Obispo                4
San Mateo                      7
Santa Barbara                  5
Santa Clara                    5
Santa Cruz                     3
Shasta                         4
Sierra                         0
Siskiyou                       2
Solano                         4
Sonoma                         4
Stanislaus                     1
Sutter                         1
Tehama                         1
Trinity                        1
Tulare                         3
Tuolumne                       1
Ventura                        5
Yolo                           1
Yuba                           0

In [9]:
alcohol_involved_crashes = pd.read_csv('data/alcohol_involved_injury_crashes.csv')
alcohol_involved_crashes.set_index('TABLE 5O ALCOHOL INVOLVED INJURY CRASHES BY COUNTY BY MONTH - 2017  ', inplace=True)
alcohol_involved_crashes.drop(alcohol_involved_crashes.index[[0,1,60]], inplace=True)
alcohol_involved_crashes = alcohol_involved_crashes.iloc[:,-1:]
alcohol_involved_crashes.rename(columns={'Unnamed: 13':'alcohol_involved_crashes'},inplace=True)

alcohol_involved_crashes.index = new_index
alcohol_involved_crashes

                alcohol_involved_crashes
Alameda                              660
Alpine                                 9
Amador                                37
Butte                                120
Calaveras                             50
Colusa                                13
Contra Costa                         424
Del Norte                             12
El Dorado                            123
Fresno                               303
Glenn                                 21
Humboldt                             111
Imperial                              42
Inyo                                   9
Kern                                 431
Kings                                 75
Lake                                  66
Lassen                                12
Los Angeles                        4,749
Madera                               101
Marin                                115
Mariposa                              24
Mendocino                             91
Merced                               183
Modoc                                  8
Mono                                  16
Monterey                             237
Napa                                  90
Nevada                                74
Orange                             1,287
Placer                               130
Plumas                                18
Riverside                          1,139
Sacramento                           817
San Benito                            31
San Bernardino                     1,025
San Diego                          1,653
San Francisco                        349
San Joaquin                          405
San Luis Obispo                      160
San Mateo                            291
Santa Barbara                        242
Santa Clara                          686
Santa Cruz                           192
Shasta                               117
Sierra                                 3
Siskiyou                              37
Solano                               232
Sonoma                               288
Stanislaus                           367
Sutter                                67
Tehama                                46
Trinity                               21
Tulare                               199
Tuolumne                              51
Ventura                              376
Yolo                                 103
Yuba                                  31

In [10]:
def remove_comma(number):
    number = number.replace(',', '')
    return number

alcohol_involved_crashes['alcohol_involved_crashes'] = alcohol_involved_crashes['alcohol_involved_crashes'].apply(remove_comma)

alcohol_involved_crashes['alcohol_involved_crashes'] = alcohol_involved_crashes['alcohol_involved_crashes'].astype('int64')
                         
alcohol_involved_crashes

                 alcohol_involved_crashes
Alameda                               660
Alpine                                  9
Amador                                 37
Butte                                 120
Calaveras                              50
Colusa                                 13
Contra Costa                          424
Del Norte                              12
El Dorado                             123
Fresno                                303
Glenn                                  21
Humboldt                              111
Imperial                               42
Inyo                                    9
Kern                                  431
Kings                                  75
Lake                                   66
Lassen                                 12
Los Angeles                          4749
Madera                                101
Marin                                 115
Mariposa                               24
Mendocino                              91
Merced                                183
Modoc                                   8
Mono                                   16
Monterey                              237
Napa                                   90
Nevada                                 74
Orange                               1287
Placer                                130
Plumas                                 18
Riverside                            1139
Sacramento                            817
San Benito                             31
San Bernardino                       1025
San Diego                            1653
San Francisco                         349
San Joaquin                           405
San Luis Obispo                       160
San Mateo                             291
Santa Barbara                         242
Santa Clara                           686
Santa Cruz                            192
Shasta                                117
Sierra                                  3
Siskiyou                               37
Solano                                232
Sonoma                                288
Stanislaus                            367
Sutter                                 67
Tehama                                 46
Trinity                                21
Tulare                                199
Tuolumne                               51
Ventura                               376
Yolo                                  103
Yuba                                   31

## Final Data

In [11]:
df = pd.concat([drinking_age_proportion, alcohol_store_density, dui_providers_by_county, alcohol_involved_crashes], axis=1)

df.columns = ['drinking_age_proportion', 'alcohol_store_density', 'dui_providers_by_county', 'alcohol_involved_crashes']

df

,drinking_age_proportion,alcohol_store_density,dui_providers_by_county,alcohol_involved_crashes
Alameda,0.621808,2.163548,2,660
Alpine,0.473532,25.686448,0,9
Amador,0.551042,4.276514,1,37
Butte,0.560162,2.741963,6,120
Calaveras,0.526937,4.073630,1,50
Colusa,0.541717,4.037685,1,13
Contra Costa,0.583426,1.415659,5,424
Del Norte,0.579451,3.343880,1,12
El Dorado,0.563048,3.292834,2,123
Fresno,0.551963,2.002801,10,303
Glenn,0.532385,2.852816,0,21
Humboldt,0.581330,3.740096,3,111
Imperial,0.544053,1.898298,2,42
Inyo,0.542582,6.153334,1,9
Kern,0.559971,2.136187,9,431
Kings,0.585091,1.660782,2,75
Lake,0.539497,3.339235,2,66
Lassen,0.670323,2.322311,1,12
Los Angeles,0.607402,1.870784,55,4749
Madera,0.544305,2.040336,2,101
Marin,0.553344,3.484967,1,115
Mariposa,0.545809,4.592222,1,24
Mendocino,0.540482,5.164325,5,91
Merced,0.537353,1.743014,2,183
Modoc,0.514988,5.316141,1,8
Mono,0.600978,12.461922,1,16
Monterey,0.558953,3.151631,5,237
Napa,0.566662,8.660994,0,90
Nevada,0.536718,3.598817,2,74
Orange,0.594599,2.114185,17,1287
Placer,0.552055,2.794173,6,130
Plumas,0.530761,8.401127,1,18
Riverside,0.560264,1.665624,13,1139
Sacramento,0.589463,1.970287,7,817
San Benito,0.572098,2.292702,1,31
San Bernardino,0.577540,1.623331,14,1025
San Diego,0.602220,2.216078,4,1653
San Francisco,0.688324,4.801775,2,349
San Joaquin,0.559081,2.020605,8,405
San Luis Obispo,0.551823,4.351650,4,160
San Mateo,0.606202,2.520308,7,291
Santa Barbara,0.551954,3.357230,5,242
Santa Clara,0.611577,2.022458,5,686
Santa Cruz,0.570554,2.950079,3,192
Shasta,0.551040,2.993114,4,117
Sierra,0.532566,10.316140,0,3
Siskiyou,0.514332,4.662487,2,37
Solano,0.589676,1.845220,4,232
Sonoma,0.574934,3.991212,4,288
Stanislaus,0.558366,2.131987,1,367
Sutter,0.555172,2.258407,1,67
Tehama,0.536018,2.519821,1,46
Trinity,0.532283,6.756207,1,21
Tulare,0.533226,2.005599,3,199
Tuolumne,0.549986,3.836411,1,51
Ventura,0.576007,2.107550,5,376
Yolo,0.567103,2.394558,1,103
Yuba,0.565571,2.122845,0,31

# Data Analysis & Results (EDA)

## Normality Test

In [12]:
drinking_age = df['drinking_age_proportion'].values
store_density = df['alcohol_store_density'].values
dui_providers = df['dui_providers_by_county'].values

st_da, p_da = stats.normaltest(drinking_age)
st_d, p_d = stats.normaltest(store_density)
st_dp, p_dp = stats.normaltest(dui_providers)
print(st_da, p_da, st_d, p_d, st_dp, p_dp)

19.12809000240516 7.020823113276415e-05 85.04653178402916 3.407063834809136e-19 102.11951987021871 6.683870285008056e-23

p values of three factors are less than 0.1.

## Correlation

In [13]:
outcome_1, predictors_1 = patsy.dmatrices('alcohol_involved_crashes ~ drinking_age_proportion', df)
mod_1 = sm.OLS(outcome_1, predictors_1)
res_1 = mod_1.fit()

print(res_1.summary())

                               OLS Regression Results
====================================================================================
Dep. Variable:     alcohol_involved_crashes   R-squared:                       0.114
Model:                                  OLS   Adj. R-squared:                  0.098
Method:                       Least Squares   F-statistic:                     7.178
Date:                      Wed, 17 Mar 2021   Prob (F-statistic):            0.00967
Time:                              23:30:08   Log-Likelihood:                -456.81
No. Observations:                        58   AIC:                             917.6
Df Residuals:                            56   BIC:                             921.7
Df Model:                                 1
Covariance Type:                  nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept               -3395.3100   1389.430     -2.444      0.018   -6178.673    -611.947
drinking_age_proportion  6596.1514   2462.051      2.679      0.010    1664.071    1.15e+04
==============================================================================
Omnibus:                       95.326   Durbin-Watson:                   2.393
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2123.020
Skew:                           4.751   Prob(JB):                         0.00
Kurtosis:                      31.075   Cond. No.                         38.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [14]:
outcome_2, predictors_2 = patsy.dmatrices('alcohol_involved_crashes ~ alcohol_store_density', df)
mod_2 = sm.OLS(outcome_2, predictors_2)
res_2 = mod_2.fit()

print(res_2.summary())

                               OLS Regression Results
====================================================================================
Dep. Variable:     alcohol_involved_crashes   R-squared:                       0.044
Model:                                  OLS   Adj. R-squared:                  0.027
Method:                       Least Squares   F-statistic:                     2.555
Date:                      Wed, 17 Mar 2021   Prob (F-statistic):              0.116
Time:                              23:30:08   Log-Likelihood:                -459.01
No. Observations:                        58   AIC:                             922.0
Df Residuals:                            56   BIC:                             926.1
Df Model:                                 1
Covariance Type:                  nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept               471.7821    129.697      3.638      0.001     211.968     731.597
alcohol_store_density   -39.2139     24.533     -1.598      0.116     -88.359       9.931
==============================================================================
Omnibus:                       99.339   Durbin-Watson:                   2.082
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2358.093
Skew:                           5.073   Prob(JB):                         0.00
Kurtosis:                      32.544   Cond. No.                         7.90
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [15]:
outcome_3, predictors_3 = patsy.dmatrices('alcohol_involved_crashes ~ dui_providers_by_county', df)
mod_3 = sm.OLS(outcome_3, predictors_3)
res_3 = mod_3.fit()

print(res_3.summary())

                               OLS Regression Results
====================================================================================
Dep. Variable:     alcohol_involved_crashes   R-squared:                       0.870
Model:                                  OLS   Adj. R-squared:                  0.868
Method:                       Least Squares   F-statistic:                     376.2
Date:                      Wed, 17 Mar 2021   Prob (F-statistic):           1.60e-26
Time:                              23:30:08   Log-Likelihood:                -401.05
No. Observations:                        58   AIC:                             806.1
Df Residuals:                            56   BIC:                             810.2
Df Model:                                 1
Covariance Type:                  nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                 -37.0746     37.405     -0.991      0.326    -112.006      37.856
dui_providers_by_county    83.2102      4.290     19.396      0.000      74.616      91.804
==============================================================================
Omnibus:                       65.018   Durbin-Watson:                   1.789
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              603.224
Skew:                           2.942   Prob(JB):                    1.03e-131
Kurtosis:                      17.663   Cond. No.                         10.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
outcome_4, predictors_4 = patsy.dmatrices('alcohol_involved_crashes ~ drinking_age_proportion + alcohol_store_density + dui_providers_by_county', df)
mod_4 = sm.OLS(outcome_4, predictors_4)
res_4 = mod_4.fit()

print(res_4.summary())

                               OLS Regression Results
====================================================================================
Dep. Variable:     alcohol_involved_crashes   R-squared:                       0.884
Model:                                  OLS   Adj. R-squared:                  0.878
Method:                       Least Squares   F-statistic:                     137.4
Date:                      Wed, 17 Mar 2021   Prob (F-statistic):           2.95e-25
Time:                              23:30:08   Log-Likelihood:                -397.79
No. Observations:                        58   AIC:                             803.6
Df Residuals:                            54   BIC:                             811.8
Df Model:                                 3
Covariance Type:                  nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept               -1470.6702    570.807     -2.576      0.013   -2615.069    -326.271
drinking_age_proportion  2512.2179    993.033      2.530      0.014     521.306    4503.130
alcohol_store_density       7.0855      9.465      0.749      0.457     -11.890      26.061
dui_providers_by_county    81.1422      4.303     18.855      0.000      72.514      89.770
==============================================================================
Omnibus:                       61.018   Durbin-Watson:                   2.086
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              529.756
Skew:                           2.706   Prob(JB):                    9.23e-116
Kurtosis:                      16.781   Cond. No.                         324.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.